
/* NAVIGATION BAR */
body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #00008B;
  display: flex;
  justify-content: right;

}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #add8e6;
}

ul li a.active {
  background-color: #add8e6;
}

/* HEADER */
h1 {
  text-align: center;
  font-size: 80px;
  color: #D2B48C;
}


/* GRID SEGMENT */
.parent {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 1 / 4 / 2 / 11; }
.div3 { grid-area: 2 / 1 / 5 / 4; }
.div4 { grid-area: 2 / 4 / 5 / 11; }
.div5 { grid-area: 5 / 1 / 7 / 11; }
.div6 { grid-area: 7 / 1 / 9 / 11; }
.div7 { grid-area: 9 / 1 / 11 / 11; }

.div3 {
    background-color: navy;
  }