
/* Background colour */
body {
  background-color: #a0bacf; /* light blue background colour */
}


/* Navigation bar */
body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0a355d; /* Dark blue nav background colour */
  display: flex;
  justify-content: flex-end; /* move menu to right */
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #0a355d; /* Dark blue when not active */
}

ul li a.active {
  background-color: #a0bacf; /* Changes to light blue when active */
}

/* Grid layout */
.parent {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: auto;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 11; } /* Div 1 grid area */
.div2 { grid-area: 2 / 1 / 5 / 6; } /* Div 2 grid area */
.div3 { grid-area: 2 / 6 / 5 / 11; } /* Div 3 grid area */
.div4 { grid-area: 5 / 1 / 8 / 11; } /* Div 4 grid area */
.div5 { grid-area: 8 / 1 / 10 / 11; } /* Div 5 grid area */
.div6 { grid-area: 10 / 1 / 11 / 11; } /* Div 6 grid area */

 /* Changing font to poppins */
body {
    font-family: 'Poppins';
}

/* Left top side panel */
.div2 {
    width: 100%;
    height: 50vh;
    background-color: #48494B; /* Grey left panel */
}
.div2 h1 {
    text-align: center; /* centering the text */
    color: #f4efe5; /* beige text colour */
}
.div2 p {
    text-align: center; /* centering the text */
    color: #f4efe5 /* beige text colour */
}

/* Seagull image */
.seagull {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Search bar */
input {
    width: 400px;
    padding: 8px;
}


/* Top right Panel */
.div3 img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}

/* black text box */
.container {
  position: relative;
}

.container h3 {
  color: red; /* red text colour */
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* What we do section */
.panel-text {
    text-align: center;
}

.panel-text h1 {
    color: white;
}

.panel-text h3 {
    color:  #a0bacf;
}

/* Cards */
.panel {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  margin-top: 80px;
}

.card {
  width: 300px;
  background: white;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.card img {
  width: 100%;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* Bordered Button */
.border-btn {
background: transparent; /* transparent button background */
border: 2px solid #ffffff; /* white button border */
color: #ffffff;
padding: 12px 24px;
font-size: 14px;
letter-spacing: 1px;
cursor: pointer;
text-decoration: none;


display: block;
margin: 0 auto;
margin-top: 40px;
}

/* centering button */
.center {
 margin: 0;
 position: absolute;
 top: 55%;
 left: 15%;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}

/* Make a difference panel */
.make-a-difference{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.left-box img{
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.right-box img{
    width: 450px;
    height: 220px;
    object-fit: cover;
}

.right-box h1{
    text-align: center;
    color: #0a355d;
    font-size: 60px;
}
.div4{
background-color: #0a355d; /* Div 4 - dark blue background */
}

/* footer */
footer{
   background:#000000; /* black background */
   color:white;
   display:flex;
   justify-content:space-around;
   padding:20px;
}

/* about page */
.panel-text {
    gap: 30px;
}

.content-row {
    display: flex;
    gap: 30px;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
    background-color: #d5dde8;
    padding: 20px;
    border-radius: 20px;
}

/* map extension */
.div5 h1 {
    text-align: center;
}

.div5 iframe {
    width: 100%;
    height: 450px;
    display: block;
}

/* contact page */
input[type=text], select, textarea {
  width: 100%;  /* extends width of contact form  */
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #a0bacf; /* light blue button background */
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  margin: auto;
}

input[type=submit]:hover {
  background-color:  #0a355d; /* dark blue text background */
}


/* Hovering buttons*/
.border-btn:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Hovering seagull */
.seagull:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/*Search Icon*/
.search-icon {
    font-size: 30px;
    margin-left: 8px;
    cursor: pointer;
}

/*Logo rotate*/
.logo:hover {
    transform: rotate(360deg);
    transition: 1s;
}

/* Copyright logo */
footer {
    display: flex;
    flex-wrap: wrap;
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


/* Footer page links */
footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 8px 0;
}

footer a:hover {
    color: #a0bacf;
}

.media-icons a {
    font-size: 1.4 rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;

}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.contact-box {
  margin: 30px;
  padding: 25px;
  border: 1px solid #0a355d;
  border-radius: 10px;
  background: #f2f2f2;
}







